<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>无名群聊</title>
</head>
<body>
<p><input type="text" id="content"> <button onclick="send_msg()"> 发送消息</button></p>

<div id="chat_list" ></div>
</body>
<script type="application/javascript">
    var wsl = new WebSocket("ws://10.10.10.147:8080/light");
    // var wsc = new WebSocket("ws://10.10.10.147:8080/change");
    // 监听
    wsl.onmessage = function (MessageEvent) {
        console.log(MessageEvent.data);
        // var p=document.createElement("p");
        // p.innerText=MessageEvent.data;
        // document.getElementById("chat_list").appendChild(p);
    };
    function send_msg(){
        var content=document.getElementById("content").value;
        // wsc.send(content);
    }
</script>

</html>